.hero-intro {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;

    .logo-small {
        height: 50px;;
    }
}

.hero-section {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/drive.jpg");
    background-size: cover;

    .hero-section-container {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }
}

.form-section {
    vertical-align: middle;
    width: 100%;
    text-align: center;

    .form-container {
        border-radius: 10px;
        background-color: #002749;
        width: 70%;
        max-width: 700px;
        margin: 0 auto;
        color: white;
        padding: 30px;
        text-align: left;

        .input-row {
            padding: 10px 0;
            display: inline-block;
            width: 100%;

            @include medium {
                width: 32%;
            }

            label {
                width: 100%;
                display: block;
                color: #ececec;
                letter-spacing: 2px;
                margin-bottom: 5px;
                font-size: 14px;
                height: 20px;

                @include large {
                    font-size: 16px;
                }
            }

            .input-box {
                box-sizing: border-box;
                width: 100%;

                @include large {
                    width: calc(100% - 20px);
                }
            }
        }
    }
}


.vehicle-card {
    display: flex;
    position: relative;
    padding: 50px;

    @include xlarge {
        height: calc(100vh - 50px);
    }

    .vehicle-card-container {
        position: relative;
        width: 100%;
        align-items: center;
        
        @include large {
            display: flex;
        }
    }


    .verhicle-images {
        padding: 50px 20px 0;
        width: 100%;
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        width: 50%;
        text-align: center;

        @include large {
            width: 50%;
        }

        img {
            width: 100%;
        }

        .splide {
            width: 400px;
            margin: 0 auto;

            @include xlarge {
                width: 700px;
            }

            li {
                width: 100%;
                height: 100%;
            }
        }
    }

    .vehicle-info {
        background-blend-mode: overlay;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
        background: #bde0ff;
        background-image: linear-gradient(rgba(255,255,255,.5) 0,rgba(255,255,255,0) 40%,rgba(0,0,0,0) 60%,rgba(0,0,0,.5) 100%);
        padding: 2rem 5rem;
        right: 0;
        width: 50%;
    }

    h2 {
        flex: 40%;
        text-transform: uppercase;
    }

    .vehicle-info-details {
        flex: 60%;
        font-size: 14px;
        padding-bottom: 20px;
        
    }
}




.transport-cost-output-container {
    padding: 20px;
    background-color:  #002749;
    color: white;
    border-radius: 5px;

    .flex {
        grid-gap: 10px;

        .input-box {
            min-width: 100px;
        }
    }
}

.vehicles-output {
    position: relative;
    top: 0;
      &.is-active {
          background-color: #dceeff;
          top: calc(-100vh - -50px);
          width: 100%;
          transition: all 1s;
          height: 100vh;
      }
  }