$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1700px;

@mixin small {
   @media (min-width: #{$breakpoint-small}) {
       @content;
   }
}

@mixin medium {
   @media (min-width: #{$breakpoint-medium}) {
       @content;
   }
}

@mixin large {
   @media (min-width: #{$breakpoint-large}) {
       @content;
   }
}


@mixin xlarge {
   @media (min-width: #{$breakpoint-xlarge}) {
       @content;
   }
}

@mixin xxlarge {
   @media (min-width: #{$breakpoint-xxlarge}) {
       @content;
   }
}