@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,800&family=Pacifico&family=Satisfy&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
.text-highlight {
  color: #fec879;
}

.dark-text {
  color: #01111f;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  height: 100vh;
  max-height: 100vh;
  background-color: #dbeeff;
}

.text-fancy {
  font-family: 'Pacifico', cursive;
}

.text-large {
  font-size: 5rem;
}

.button-large {
  height: 45px;
  width: 100%;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .button-large {
    font-size: 18px;
  }
}

.button-medium {
  height: 30px;
}

.button-solid {
  outline: none;
  border: none;
  background-color: #fec879;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0 10px;
}

.button-solid:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 2px 2px 5px #01111f;
          box-shadow: 2px 2px 5px #01111f;
  background-color: #ff8500;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.row .col-1-3 {
  width: 33.3%;
  float: left;
  height: 100%;
}

.row .col-2-3 {
  width: 66.66%;
  float: left;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-aligned {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-width {
  width: 100%;
  display: block;
}

.input-box {
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  display: block;
  background: none;
  border: 1px solid white;
  color: #ff8500;
  text-align: center;
}

.fancy-animate {
  position: relative;
  font-weight: 200;
  font-size: 38px;
  margin: 0;
}

@media (min-width: 992px) {
  .fancy-animate {
    font-size: 4em;
  }
}

.fancy-animate .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.fancy-animate .letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
}

.fancy-animate2 {
  font-size: 28px;
  font-weight: normal;
}

@media (min-width: 992px) {
  .fancy-animate2 {
    font-size: 35px;
  }
}

.fancy-animate2 .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}

#error-message {
  color: red;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  text-align: left;
}

header .header-container {
  width: 100%;
  background-color: #00111f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
}

@media (min-width: 992px) {
  header .header-container {
    padding: 0 20px;
  }
}

header h1 {
  margin: 0;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  letter-spacing: 5px;
  margin: auto;
  font-size: 20px;
}

@media (min-width: 992px) {
  header h1 {
    font-size: 25px;
  }
}

header h1.text-fancy {
  padding: 0 0 0 20px;
}

header h1.text-fancy a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header h1.text-fancy a:hover {
  letter-spacing: 6px;
  color: #ff8500;
}

header .logo-small {
  height: 25px;
  vertical-align: middle;
  margin: auto 20px;
}

.hero-intro {
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  width: 100%;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-intro .logo-small {
  height: 50px;
}

.hero-section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/drive.jpg");
  background-size: cover;
}

.hero-section .hero-section-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.form-section {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.form-section .form-container {
  border-radius: 10px;
  background-color: #002749;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  color: white;
  padding: 30px;
  text-align: left;
}

.form-section .form-container .input-row {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  .form-section .form-container .input-row {
    width: 32%;
  }
}

.form-section .form-container .input-row label {
  width: 100%;
  display: block;
  color: #ececec;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 14px;
  height: 20px;
}

@media (min-width: 992px) {
  .form-section .form-container .input-row label {
    font-size: 16px;
  }
}

.form-section .form-container .input-row .input-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media (min-width: 992px) {
  .form-section .form-container .input-row .input-box {
    width: calc(100% - 20px);
  }
}

.vehicle-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 50px;
}

@media (min-width: 1200px) {
  .vehicle-card {
    height: calc(100vh - 50px);
  }
}

.vehicle-card .vehicle-card-container {
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .vehicle-card .vehicle-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vehicle-card .verhicle-images {
  padding: 50px 20px 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 50%;
  text-align: center;
}

@media (min-width: 992px) {
  .vehicle-card .verhicle-images {
    width: 50%;
  }
}

.vehicle-card .verhicle-images img {
  width: 100%;
}

.vehicle-card .verhicle-images .splide {
  width: 400px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .vehicle-card .verhicle-images .splide {
    width: 700px;
  }
}

.vehicle-card .verhicle-images .splide li {
  width: 100%;
  height: 100%;
}

.vehicle-card .vehicle-info {
  background-blend-mode: overlay;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bde0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  padding: 2rem 5rem;
  right: 0;
  width: 50%;
}

.vehicle-card h2 {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  text-transform: uppercase;
}

.vehicle-card .vehicle-info-details {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  font-size: 14px;
  padding-bottom: 20px;
}

.transport-cost-output-container {
  padding: 20px;
  background-color: #002749;
  color: white;
  border-radius: 5px;
}

.transport-cost-output-container .flex {
  grid-gap: 10px;
}

.transport-cost-output-container .flex .input-box {
  min-width: 100px;
}

.vehicles-output {
  position: relative;
  top: 0;
}

.vehicles-output.is-active {
  background-color: #dceeff;
  top: calc(-100vh - -50px);
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100vh;
}

.splide__pagination__page {
  background: #fec879;
  width: 25px;
  height: 25px;
  margin: 5px 10px;
}

.splide__pagination__page.is-active {
  background: #ff8500;
  color: black;
}

.splide__pagination {
  counter-reset: pagination-num;
  top: 85%;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}

.splide__arrows {
  height: 100%;
  width: 100%;
  position: absolute;
}

.splide__slide--clone::marker {
  display: none;
}

.main-splide {
  position: relative;
}
/*# sourceMappingURL=main.css.map */